In [19]:
from pandas import Series,DataFrame
from numpy import *
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd
import pandas
import csv
import codecs
from sklearn.model_selection import cross_val_score,train_test_split

In [20]:
df = pd.read_csv(r"C:\Users\dyy\Desktop\补档.csv")

In [21]:
s11_row = df[['dB(S(1,1)) []']]

In [22]:
#s11_row[0:221].T

In [23]:
a=(int(len(df))/221-1)
a = int(a)

In [24]:
len(df)

442

In [25]:

s2=s11_row[0:221].T


for i in range(a): 
    
    s11 = s11_row[221*(i+1):221*(i+2)].T
    
    s2 =  np.vstack((s2,s11))

In [26]:
s11_row = df[['dB(S(1,1)) []']]

In [27]:
s11_otherrow = df[['LG [mm]','LC [mm]','LS [mm]','W1 [mm]','W2 [mm]','W3 [mm]','WC [mm]','WS [mm]']]

In [28]:
#for i in range(508):

#    df21=s11_otherrow.drop(labels=[1,3],axis=0)

In [29]:
ys=s11_otherrow.drop_duplicates(keep='first')

In [30]:
ys = np.array(ys)

In [31]:
ys.shape

(2, 8)

In [32]:
c=concatenate((ys,s2),axis=1)

In [33]:
c = np.array(c)

In [34]:
m=c.tolist()

In [35]:
#np.savetxt('C:\\Users\\dyy\\\Desktop\\10.csv',m,delimiter=',')

In [36]:
test=pd.DataFrame(data=m)#数据有三列，列名分别为one,two,three
print(test)
test.to_csv('C:\\Users\\dyy\\\Desktop\\补档改.csv',encoding='gbk')

   0    1      2    3     4    5     6    7         8         9    ...  \
0  8.7  3.8  4.324  1.4  1.25  1.0  1.27  3.4 -4.470692 -5.008816  ...
1  8.7  3.8  4.324  1.4  1.30  1.0  1.27  3.4 -4.367520 -4.884108  ...

        219       220       221       222       223       224       225  \
0 -7.134508 -6.913343 -6.689001 -6.466747 -6.259617 -6.084410 -5.951532
1 -6.360630 -6.139912 -5.958867 -5.798010 -5.647208 -5.505994 -5.379110

        226      227       228
0 -5.857273 -5.78529 -5.713318
1 -5.271168 -5.18413 -5.117552

[2 rows x 229 columns]